


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:Georgia, 'Times New Roman', Times, serif;
}


main{
    
   min-height: 100vh;
    display: flex;



}



button {
    background-color: orangered;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid white;
    transition: box-shadow 0.3s ease; 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button:hover {
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2); 
    filter: brightness(1.2)
}


.food-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.food-info {
  flex-grow: 1;
  margin: 50px;
}

.food-image img {
  max-width: 100%;
  max-height: 60%;
}

